src/main/resources/xsd/characteristicRelationship.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="characteristicRelationship">
    <xs:sequence>
      <xs:element name="relationType" type="xs:string" minOccurs="0"/>
      <xs:element name="sourceCharacteristicLink" type="sourceCharacteristicLink" minOccurs="0"/>
      <xs:element name="targetCharacteristicLink" type="targetCharacteristicLink" minOccurs="0"/>
      <xs:element name="characteristicValueFilter" type="xs:string" minOccurs="0"/>
      <xs:element name="characteristicValueFilterURI" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>