src/main/resources/xsd/discountTargets.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="discountTargets">
    <xs:sequence>
      <xs:element name="targetProductOffering" type="xs:string" minOccurs="0"/>
      <xs:element name="targetProductOfferItem" type="xs:string" minOccurs="0"/>
      <xs:element name="targetProductOfferingPriceId" type="xs:string" minOccurs="0"/>
      <xs:element name="scope" type="xs:string" minOccurs="0"/>
      <xs:element name="discount" type="discount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>