src/main/resources/xsd/productSpecificationRelationship.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="productSpecificationRelationship">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="relationType" type="xs:string" minOccurs="0"/>
      <xs:element name="entityRef" type="xs:string" minOccurs="0"/>
      <xs:element name="targetCardinality" type="targetCardinality" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>