src/main/resources/xsd/targetCardinality.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="targetCardinality">
    <xs:sequence>
      <xs:element name="min" type="xs:decimal" minOccurs="0"/>
      <xs:element name="max" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>