src/main/resources/xsd/thresholdValue.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="thresholdValue">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="thresholdValueCharacteristics" type="characteristic" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="values" type="decimalValue" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>